absl-py==0.9.0
astor==0.8.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
certifi==2018.1.18
cycler==0.10.0
Cython==0.29.20
decorator==4.4.2
gast==0.3.2
google-pasta==0.1.8
grpcio==1.14.1
h5py==2.8.0
imageio==2.8.0
intel-tensorflow==1.15.2
ipython==6.3.1
ipython-genutils==0.2.0
jedi==0.12.0
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.2.1
mkl-fft==1.0.14
mkl-random==1.0.4
mkl-service==2.1.0
networkx==2.4
numpy==1.18.2
parso==0.2.0
path.py==11.0.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==7.0.0
prompt-toolkit==1.0.15
protobuf==3.11.2
ptyprocess==0.5.2
pycocotools==2.0.1
Pygments==2.2.0
pyparsing==2.4.6
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
scikit-image==0.16.2
scipy==1.4.1
simplegeneric==0.8.1
six==1.14.0
TBB==0.2
tensorboard==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.12.1
